@tailwind base;
@tailwind components;
@tailwind utilities;

/* Barlow Semi Condensed FontFamily */
/* Barlow Semi Condensed Semi Bold */
@font-face {
  font-family: 'BarlowSemiCondensed';
  src: url('../public/fonts/BarlowSemiCondensed-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
/* Barlow Semi Condensed Bold */
@font-face {
  font-family: 'BarlowSemiCondensed';
  src: url('../public/fonts/BarlowSemiCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'BarlowSemiCondensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
